table.last-child-right tr td:last-child {
    white-space: nowrap;
    width: 1%
}
.fit-content{
    width: fit-content;
    block-size: fit-content;
}
@media only screen and (min-width: 1280px) {
    .flex-container {
        display: flex;
        flex-direction: row;
    }
    .col-left{
        min-width: 450px;
        margin-right:10px; 
    }
    .col-right{
        width: 640px;
    }
}
@media only screen and (max-width: 1280px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .col-right{
        width: 640px;
        align-self: center;
    }
}
.swal-btn{
    min-width: 120px;
}
.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}